/*********************************
*** variables + mixins
*********************************/ 
/*** colors ***/
@black: #000;
@white: #fff;
@dk-grey: #666;
@lt-grey: #ccc;
@blue: #1bbfe0;







/*********************************
*** base elements
*********************************/ 



body {
	font-family: "myriad-pro", sans-serif; 
	background: url(images/background.png) repeat-x bottom;
}

a {
	color: @blue;
}





/*** accordion ***/

#accordion h3 {
	font-size: 18px;
}



/*** zones & wrappers ***/

#zone-branding-wrapper {
	min-height: 50px;
	padding-top: 20px;
	background: @white;
}



/*********************************
*** Header Section
*********************************/


.site-name,
.site-name a {
	font-size: 36px;
	color: @black;
}







